*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'Montserrat', Arial;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
    
}
.menu li a:hover,
.menu .active a  {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner {
    height:calc(100vh - 100px);
    background-color: red;
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width:1000vw ;
    height: 100%;
    
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}



.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title {
    font-size: 20px;
    font-weight: 600;

}

.default .section-desc {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;

}

.default .light {
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark{
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}







/*
CSS DE ÁREAS ESPECÍFICAS
*/

.section-aboutus {
    display: flex;
}
.section-aboutus--left {
    flex:1;

}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right{
    width: 520px;
    text-align: center;

}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service img{
    width: 60px;
    height: 60px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}
.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;

}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}






.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;

}

.section-projects--filters li:first-child {
    border-left: 0px;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-projetcts--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}
.section-projetcts--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projetcts--photoinfo{
    display: flex;
}

.bg-team {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width:1000vw ;
    height: 100%;
    
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color:#fff;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active{
    background-color: #b28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social {
    display: flex;
    margin-top: 20px;

}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}


.section-team--social a:hover {     
    background-color: #b28756;
}







.happy-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5f7;
}

.happy-clients .section-team--role {
    text-transform: uppercase;
    font-weight: 600;
    color: #CCC;
    font-size: 12px;
}

.happy-clients .section-team--name,
.happy-clients .h33 {
    text-transform: none;
}

.happy-clients .h33 {
    font-size: 14px;
    color: #949393;
    font-weight: 400;
}


.happy-clients p{
    text-align: center;
    display: block;
    max-width: 640px;
}

.happy-clients .aspas {
    margin-top: 25px;
    margin-bottom: 13px;
}

.happy-clients .slidearea {
    margin-top: 30px;
}

.happy-clients .pointers-hapy {
    display: flex;
    margin-top: 35px;
}
.pointers-hapy div{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 60px;
}
.pointers-hapy .active{
    background-color: #b28756;
}




.happy-clients .empresas {
    background-color: #fff;
    display: flex;
    border-top:  2px solid #EEE;
    border-bottom: 2px solid #EEE;
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 50px;
}

.happy-clients .empresas div{
    margin-right: 30px;
    
}

.section-price {
    background-color: #f7f5f7;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 2px solid #CCC;
}


.section-price .section-team--role{
    font-size: 12px;
    font-weight: 600;
    color: #CCC;
}

.frebt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1140px;
    margin-top: 35px;

}

.frebt .section-team--name {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -12px;
}

.frebt .valor {
    margin: 0px;
    font-size: 20px;
}

.frebt .section-team--role {
    font-weight: normal;
    color: #555;
    
}

.frebt div {
    margin-right: 20px;
    background-color: #fff;
    width: 280px;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
    
}


.price-conteudo ul li {
    list-style:none;
    font-size: 11px;
    color: #000;
    font-weight: 600;
    padding: 2px;
    text-transform: none;
}

.price-conteudo .preto {
    background-color: #000;
    
}







.section-pemium {
    text-align: center;

}

.textos-premium {
    text-align: start;

}

.conteudo-premium {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 190px;
}
.textos-premium {
    margin-left: 20px;
}

.section-team--name img{
    width: 20px;
    margin-right: 20px;

}

.texto-livros {
    margin-left: 41px;
    font-weight: 400;
    color: #999;
}
.img-premium {
    margin-top: 40px;
}
.textos-premium ul li {
    list-style: none;

}

.borda-botton-area-primium {
    max-width: 1140px;
    margin-top: 40px;
    border-bottom: 2px solid #CCC;
    margin-bottom: 90px;
    margin-left: 100px;
    
}


.botao-premium .pointers-hapy {
    display: flex;
    justify-content: center;

}




.section-desc .sub {
    color: #ccc;
}


.numeros-facts {
    display: flex;
    color: #fff;
    justify-content: space-evenly;
}

.numero-laranja {
    color: #b28756;
    font-weight: bold;
    font-size: 60px;
}


.barrinha {
    border: 1px solid #b28756;
    width: 10px;
}

.alinha-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.alinha-facts div{
    margin-bottom: 9px;

}

.sub-facts {
    color:#949393;
   font-size: 15px;
    font-weight: 600;
}

.redes-sociais {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #CCC;
}

.redes-sociais  {
    margin-top: -50px;
    width: 100vw;
    height: 90px;
} 

.areasociais {
    text-transform: uppercase;
    font-weight: 600;
    color: #CCC;
}

.redes-sociais div{
    margin-right: 15px;
}

.spaco {
    margin-left: 15px;
}


.areasociais {
    display: flex;
    align-items: center;
}

.redes div{
    margin-right: 5px;
    margin-left: 5px;

}

.redes a {
    text-decoration: none;
}

#linkedin,
#facebook, 
#pinterest,
#twitter {
    padding: 15px;
    width: 75px;
    height:75px;
}
#googleplus {
    width: 65px;
    height:65px;
    padding: 15px;
}










.area-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.nameima input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #b2b2b2;
    padding-bottom: 10px;
    width: 350px;
    
}

 .message input {
    margin-top: 100px;
    width: 725px;
}


.object input {
    width: 725px;
    margin-top: 35px;
}
.nameima input::placeholder {
    color: #bebdbe;
    text-transform: uppercase;
    
}

.nameima input:focus {
    outline: none;
    color: #333;

}

.nome-email {
    display: flex;
    
}
 .primeira div:nth-child(1) {
    margin-right: 25px;
}

.area-contato div:nth-child(3) {
    margin-top: 10px;
}



.container-overlay {
    background-image: url(../../media/maps.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}

.overlay {
    width: 100vw;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.4);

}

.overlay div:first-of-type{
    margin-left: 180px;
    margin-top: 40px;
}

.frent {
    position: absolute;
    background-color: green;
    
}